<div style="width: 50%">
    <p>{{ title }}</p>
    <p>{{ message }}</p>
    <button type="button" md-raised-button (click)="dialogRef.close(true)">OK</button>
    <button type="button" md-button (click)="dialogRef.close(false)">Cancel</button>
</div>