<h3>Top Products</h3>
<div class="grid grid-pad">
  <a *ngFor="let product of products"  [routerLink]="['/detail', product.id]"  class="col-1-4">
    <div class="module product">
      <h4>{{product.name}}</h4>
    </div>
  </a>
</div>
<product-search></product-search>
