<div class="container">
  <div *ngIf="product" class="left-box">
    <div *ngIf="product.id != undefined">
      <h2>You selected: {{product.name}}</h2>
      <h3>{{product.name}} id is <strong>{{product.id}}</strong></h3>
    </div>
    <div *ngIf="product.id == undefined">
      <h2>New product</h2>
    </div>
    <div>
      <form (ngSubmit)="save()" #productForm="ngForm">
        <div>
          <label for="name">Name: </label>
          <input type="text" 
                 name="name" 
                 [(ngModel)]="product.name" 
                 #name="ngModel" 
                 maxlength="50" 
                 required 
                 pattern="^[a-zA-Z0-9_\\-]*$">
          <div [hidden]="name.valid || name.pristine" class="error">
            Name is required and only allows alphanumeric characters plus '-' and '_'
          </div>
        </div>
        <div>
          <label for="description">Description: </label>
          <textarea name="description" 
                    [(ngModel)]="product.description" 
                    #description="ngModel" 
                    maxlength="500" 
                    pattern="^[a-zA-Z0-9_\\-\\,\\.!?@\s]*$"
                    rows="4">
          </textarea>
          <div [hidden]="description.valid || description.pristine" class="error">
            Only alphanumeric characters plus [-,_.!?@] and blank are allowed
          </div>
        </div>
        <div>
          <label for="arrival">Arrival: </label>
          <md2-datepicker 
                          [(ngModel)]="product.arrival" 
                          name="arrival" 
                          #arrival="ngModel" 
                          type="date" 
                          format="YYYY-MM-DD"
                          required
                          style="width: 100%">
          </md2-datepicker>
        </div>
        <div>
          <label for="quantity">Quantity: </label>
          <input type="number" name="quantity" [(ngModel)]="product.quantity" #quantity="ngModel" min="1" required>
          <div [hidden]="quantity.valid || quantity.pristine" class="error">
            Quantity must be greater than 0
          </div>
        </div>
        <button type="submit" [disabled]="!productForm.form.valid">Save</button>
        <button (click)="goDashboard()">Back to dashboard</button>
      </form>
    </div>
  </div>
</div>