<h2>My Products</h2>
<div class="container">
  <div class="left-box">
    <ul class="products">
      <li *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }" [class.selected]="product === selectedProduct"
        (click)="onSelect(product)">
        <span class="badge">{{product.id}}</span>
        <span>{{product.name}}</span>
        <button class="delete" (click)="delete(product); $event.stopPropagation()">x</button>
        </li>
    </ul>
    <pagination-controls (pageChange)="p = $event" #api></pagination-controls>
  </div>
  <div>
    <div *ngIf="selectedProduct">
      <h2>
        {{selectedProduct.name | uppercase}} is my product
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
  </div>
</div>