h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.error{
  padding: 12px;
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

.container {
  width: 100%;
}

.left-box {
  width: 50%;
  float: left;
}

.mat-dialog-container {
  width: 50% !important;
}